<div class="theme-base-09 sidebar minitile">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{@blog.title}}</h1>
      <p class="lead">{{@blog.description}}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
	<a href="https://www.roguehacklab.com">-Main Site</a><br />
	<a href="https://roguehacklab.com/blog/">-Blog Home</a><br />
	<a href="https://roguehacklab.com/blog//welcome-to-ghost/">-Posting Guide</a><br />
	<a href="https://roguehacklab.com/blog/rss">-RSS Feed</a>
      </li>
    </ul>

    <p class="sponsorlink"><i>Hosting donated by<a href="http://www.soupala.com"> Soupala</a></i></p>
  </div>
</div>
